# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
# build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
#/build/
#!/build/web/
build/url_launcher_android 
build/url_launcher_android
build/unit_test_assets
build/test_cache
build/syncfusion_flutter_pdfviewer
build/shared_preferences_android
build/syncfusion_flutter_pdfviewer
build/app
build/app/deeplink
build/reports
build/path_provider_android
build/native_hooks
build/native_assets
build/flutter_plugin_android_lifecycle
build/flutter_assets
build/file_selector_android
build/file_picker
build/device_info_plus
build/b70f9274ac3b5ec9754be8774a3c9a1c.cache.dill.track.dill
build/2b479cca04e70a1549a47d83fa16987d
build/.cxx
android/reports
android/app/upload-keystore.jksb70f9274ac3b5ec9754be8774a3c9a1c.cache.dill.track.dill
upload-keystore.jks
/coverage/

# Analysis logs
analyze*.txt

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
